/* основной цвет текста #757575*/
/* вторичный цвет текста #212121*/
/* белый #FFFFFF*/
/* акцент #2196F3*/
/* вторичный цвет фона #F5F4FA*/
/* фон футера #2F303A*/

:root {
  --prymery-text-color: #757575;
  --secondary-text-color: #212121;
  --white-text-color: #ffffff;
  --accent: #2196f3;
  --prymery-background-color: #e5e5e5;
  --secondary-backgound-color: #f5f4fa;
  --footer-background-color: #2f303a;
}

body {
  background-color: var(--prymery-background-color);
  color: var(--prymery-text-color);
  margin: 0;

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* Header */

.page-header {
  background-color: var(--white-text-color);
  color: var(--secondary-text-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
}

.logo {
  color: var(--secondary-text-color);

  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.word-web {
  color: var(--accent);
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* Main-header */

.main-header {
  display: flex;
  align-items: center;
}

/* Site-nav */

.site-nav {
  display: flex;
  margin-left: 80px;
}

.site-nav .item + .item {
  margin-left: 40px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);

  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}

.site-nav .link.current {
  color: var(--accent);
}

/* Auth-nav */

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .icon-phone {
  margin-left: 30px;
}

.auth-nav .link {
  color: var(--prymery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent);
}

.auth-nav .link::before {
  display: inline-block;

  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.icon-mail::before {
  margin-right: 10px;
  background-image: url(../images/envelope.svg);
  width: 16px;
  height: 12px;
  background-repeat: no-repeat;
}

.icon-phone::before {
  margin-right: 10px;
  background-image: url(../images/smartphone.svg);
  width: 12px;
  height: 16px;
  background-repeat: no-repeat;
}

/* Hero */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 452px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 84px;
  color: var(--white-text-color);

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

/* Button */

button {
  width: max-content;
  height: 38px;
  padding: 0 24px;
  border-color: transparent;
  border-radius: 4px;

  color: var(--secondary-text-color);
  background-color: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

button:hover,
button:focus {
  color: var(--white-text-color);
  background-color: var(--accent);
}

/* class button */

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;

  color: var(--white-text-color);
  background-color: var(--accent);

  text-decoration: none;
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.top {
  padding-top: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.is-hidden {
  display: none;
}

/* Feature */

.feature-list .item + .item {
  margin-left: 30px;
}

.feature-list .item::before {
  display: block;
  content: '';
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-position: center;
  background-size: 65px;
  background-repeat: no-repeat;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.feature-list .item {
  width: 270px;
}

.feature-list {
  display: flex;
}

.feature-list .title {
  color: var(--secondary-text-color);

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.feature-list .text {
  margin-top: 10px;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Work-list */

.work-list .item + .item {
  margin-left: 30px;
}

.work-list {
  display: flex;

  text-align: center;
}

.work-list .title {
  margin: 0;

  color: var(--white-text-color);

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.section.team {
  background-color: var(--secondary-backgound-color);
}

/* Team-list */

.team-list .item + .item {
  margin-left: 30px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.team-list {
  display: flex;
  text-align: center;
}

.team-list .title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list .position {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

.social-links:hover,
.social-links:focus {
  color: var(--accent);
}

.socialy {
  display: block;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.socialy:hover {
  background-color: var(--accent);
}

.icon-link {
  fill: #afb1b8;
}

.icon-link:hover {
  fill: var(--white-text-color);
}

.team-list .item {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-list .list {
  display: flex;
  justify-content: center;
}

/* Clients */

.clients-list .item + .item {
  margin-left: 30px;
}

.clients-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.clients-links:hover,
.clients-links:focus {
  background-color: var(--accent);
}

.clients-links {
  display: block;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
}

.clients-list .item {
  align-items: center;
}

/* Footer */

.main-footer {
  display: flex;
  align-items: baseline;
  padding-top: 48px;
  padding-bottom: 28px;
}

.page-footer {
  background-color: var(--footer-background-color);
}

.logo-footer {
  margin-bottom: 10px;

  color: var(--white-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  text-decoration: none;
}

.contacts {
  margin-bottom: 9px;

  color: var(--white-text-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.page-footer .text {
  margin-top: 0;
  margin-bottom: 21px;

  color: var(--white-text-color);

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.block-contact {
  margin-right: 179px;
}

.contacts .links {
  color: rgba(255, 255, 255, 0.6);
}

.our-links {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.social-links {
  display: block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.icon-instagram {
  background-image: url(../images/instagram.svg);
  margin-right: 10px;
}

.icon-twitter {
  background-image: url(../images/twitter.svg);
  margin-right: 10px;
}

.icon-facebook {
  background-image: url(../images/facebook.svg);
  margin-right: 10px;
}

.icon-linkedin {
  background-image: url(../images/linkedin.svg);
}

.social-links:hover {
  background-color: var(--accent);
}

.block-join {
  margin-right: 102px;
}

.copyright {
  padding-top: 18px;
  padding-bottom: 21px;
  margin-top: 0;
  margin-bottom: 0;

  color: rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* Стили для Портфолио */

.is-hidden {
  display: none;
}

.nav-item {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 50px;
}

.nav-item .item {
  margin-right: 8px;
}

.nav-item .item:last-child {
  margin-right: 0;
}

.work-desc {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
}

.work-desc .item {
  width: 380px;
  margin-right: 30px;
  margin-bottom: 30px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.work-desc .item:hover {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.work-desc .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.work-desc .item:nth-child(3n) {
  margin-right: 0;
}

.work-link {
  display: block;
  text-decoration: none;
}

.list .work-link {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.list .name {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.list .description {
  margin: 0;

  color: var(--white-text-color);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.list .caption {
  margin: 0;
  color: var(--prymery-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.card-name {
  padding: 20px 24px;

  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-image {
  display: block;
}
